@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
    background-color: #0a192f; /* Dark blue background */
    color: #ccd6f6; /* Light gray/white text */
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar {
    background-color: #0a192f !important; /* Match navbar background color with the body */
    display: flex;
    justify-content: space-between; /* Ensure navbar content is distributed evenly */
}

.navbar-brand, .nav-link, .btn-outline-secondary {
    color: #64ffda !important; /* Light blue for hyperlinks */
    margin: 0 15px;
    font-size: 1rem;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-nav .nav-item {
    display: flex;
    align-items: center;
}

.navbar-nav .btn-outline-secondary {
    line-height: 1.5; /* Match line-height to center button */
    padding: 0.1rem 1.25rem; /* Ensure padding matches other nav items */
    margin: 0px;
}

.header {
    padding: 5rem 0; /* Reduce padding from top */
    background-color: #0a192f;
    color: #ccd6f6;
    text-align: left; /* Align text to the left */
    margin-left: 20px; /* Add left margin */
}

.press-start {
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem; /* Increase font size */
    color: #64ffda; /* Light blue for "Hi, my name is" */
}

.header .display-1 {
    color: #ccd6f6;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 4rem; /* Increase font size */
}

.header .lead {
    font-size: 4rem; /* Increase font size */
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    opacity: 0.5; /* Reduce opacity */
    white-space: nowrap;
    margin-bottom: 1.5rem;
}

.header p {
    color: #ccd6f6; /* Light gray/white text for paragraphs */
    text-align: left; /* Ensure text alignment to the left */
    max-width: 600px;
    margin: 0 0 250px 0; /* Adjust margins */
    font-size: 1em; /* Increase font size */
}
.header .welcome-text{
    font-size: 1rem;
}

.header .btn-lg {
    font-size: 1.25rem; /* Increase font size */
    border-color: #64ffda; /* Light blue border for buttons */
    color: #64ffda;
    padding: 15px 20px;
}

.header .btn-lg:hover {
    background-color: #64ffda; /* Light blue background on hover */
    color: #0a192f; /* Dark blue text on hover */
}
.same-height-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Ensure full height for all cards */
}

.same-height-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1; /* Ensure card body takes up remaining space */
}

.header .display-1, .header .lead {
    max-width: 100%;
    width: 100%;
}

.header p, .about-me p, .about-me h3 {
    font-size: 1rem; /* Maintain the original font size */
}

.about-me .certificate-item {
    display: inline-block;
    width: 48%; /* Adjust the width as needed */
    vertical-align: top;
}

.about-me .certificate-item img {
    width: 100%; /* Ensure the images take the full width of their container */
}

.about-me .certificate-item p {
    font-size: 1rem; /* Adjust the font size of the description */
    text-align: center;
}
.align-navbar {
/*     margin-right: 30px; */
    /* margin-left:220px; */
    white-space: nowrap;
}

@media (max-width: 768px) {
    .header, .about-me, .introduction, .certificates, .teaching, .hobbies {
        margin-left: 250; /* Reset left margin on small screens */
        padding: 0rem 1rem; /* Adjust padding for small screens */
    }
    .align-navbar {
        margin-left: 235px; /* Reset left margin on small screens */
        margin-right: 0; /* Reset right margin on small screens */
    }
    .header .display-1 {
        font-size: 1.1rem; /* Reduce font size for small screens */
    }

    .header .lead {
        font-size: 1.1rem; /* Reduce font size for small screens */
    }

    .header p {
        font-size: 1.1rem; /* Increase font size for small screens */
    }

    .navbar-nav .nav-item {
        margin-bottom: 1rem; /* Add spacing between nav items in sidebar */
    }
}

.projects-section {
    padding: 1rem 0;
}

.projects-section .card {
    margin-bottom: 20px;
    background-color: #112240; /* Slightly lighter dark blue for cards */
    color: #ccd6f6;
}

.analysis-section .card {
    margin-bottom: 20px;
    background-color: #112240; /* Slightly lighter dark blue for cards */
    color: #ccd6f6;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Ensure full height for all cards */
}

.card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1; /* Ensure card body takes up remaining space */
}

.projects-section .card-img-top, .analysis-section .card-img-top {
    height: 200px;
    object-fit: cover;
}

.card .card-text {
    font-size: 1.25rem;
}

.card .card-title {
    font-size: 1.2rem;
    margin-bottom: 25px;
}

.contact-section {
    padding: 5rem 0;
}

.contact-section h1 {
    color: #ccd6f6;
}

.contact-section ul {
    list-style: none;
    padding: 0;
}

.contact-section li {
    margin: 1rem 0;
}

.contact-section a {
    color: #64ffda;
    text-decoration: none;
}

.contact-section a:hover {
    text-decoration: underline;
}

.card {
    min-height: 500px; /* Adjust this value as needed */
    margin-bottom: 20px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    text-align: center;
    font-size: 1.25rem;
}

.card-text {
    flex-grow: 1;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.btn {
    margin-top: 10px;
}

.about-me {
    text-align: left; /* Align text to the left */
    margin-left: 20px; /* Add left margin */
}

.about-me h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.75rem;
    color: #64ffda;
    margin-bottom: 2rem;
}

.about-me p, .about-me h3 {
    font-size: 1.5rem;
    color: #ccd6f6;
    margin-bottom: 1.5rem;
}

.certificates img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.certificates {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.certificate-item {
    text-align: center;
    width: 48%; /* Adjust as needed to fit your layout */
}

.certificate-item img {
    width: 100%;
    height: auto;
}

.certificate-item p {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #ccd6f6;
}

.contact-item {
    margin-bottom: 2rem;
}

.contact-item a {
    text-decoration: none;
    color: #64ffda;
    font-size: 1.5rem; /* Increase font size */
}

.contact-item a:hover {
    text-decoration: underline;
}

.contact-icon {
    width: 70px; /* Increase icon size */
    height: auto;
    margin-bottom: 0.5rem;
}

.contact-item p {
    font-size: 1.25rem; /* Increase description font size */
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #64ffda;
    color: #0a192f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none; /* Hidden by default */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, opacity 0.3s;
}
.back-to-top:hover {
    background-color: #52e0c4;
}